<!-- <nav class="navbar navbar-expand navbar-light bg-light px-3 shadow-sm d-flex justify-content-center">
  <div class="nav navbar-nav d-flex align-items-center">
    <a class="nav-item nav-link fs-alto" [routerLink]="['/portal']">Portal Institucional</a>
    <a class="nav-item nav-link fs-alto" [routerLink]="['/items-list']">Noticias</a>
    <a class="nav-item nav-link active" [routerLink]="['/main']" aria-current="page"><i
        class="fa-solid fa-hands-holding-child"></i>
      <span class="visually-hidden">(current)</span></a>
    <a class="nav-item nav-link fs-alto" [routerLink]="['/digitalizaciones']">Digitalizaciones</a>
    <a class="nav-item nav-link fs-alto" [routerLink]="['/digitalizaciones']">Contacto</a>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand ms-1" [routerLink]="['/main']">
      <i class="fa-solid fa-hands-holding-child"></i>
      <span class="d-lg-none ms-2 fs-alto text-white">I.A.S.E.P</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <hr>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/main']" routerLinkActive="active">Portal Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/items-list']" routerLinkActive="active">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/digitalizaciones']" routerLinkActive="active">Digitalizaciones</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
