<nav class="navbar navbar-expand navbar-light bg-light px-3 shadow-sm d-flex justify-content-center">
  <div class="nav navbar-nav d-flex align-items-center">
    <a class="nav-item nav-link fs-alto" [routerLink]="['/portal']">Portal Institucional</a>
    <a class="nav-item nav-link fs-alto" [routerLink]="['/items-list']">Noticias</a>
    <a class="nav-item nav-link active" [routerLink]="['/main']" aria-current="page"><i
        class="fa-solid fa-hands-holding-child"></i>
      <span class="visually-hidden">(current)</span></a>
    <a class="nav-item nav-link fs-alto" [routerLink]="['/digitalizaciones']">Digitalizaciones</a>
    <a class="nav-item nav-link fs-alto" [routerLink]="['/digitalizaciones']">Contacto</a>
  </div>
</nav>
