i{
  font-size: 30px;
  color: #ffffff;
}

a:hover i{
  color: #0e264b;
}

a{
  font-weight: bold !important;
  color: #ffffff;
}

a:hover{
  color: #0e264b;
}

.navbar{
  background: #027493 !important;
  /* background: linear-gradient(#0ba5d0, #027493) !important; */

}
