<form>
    <div class="contentFormAlta border p-2 mb-3 shadow">
      <h5 class="fw-bold text-center fs-alto text-white">Crear nueva actividad</h5>
      <div class="row">
      <div class="col-12 col-md-6 mt-1">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
          #desc_act
          id="desc_act"
            placeholder=""
          />
          <label for="desc_act">Descripción Actividad</label>
        </div>
      </div>
      <div class="col-12 col-md-3 mt-1">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
          #precio_act
            placeholder="precio_act"
          />
          <label for="precio_act">Importe Sujerido</label>
        </div>
      </div>
      <div class="col-12 col-md-3 mt-1">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
          #subRubro
            placeholder="subRubro"
          />
          <label for="subRubro">ID SubRubro</label>
        </div>
      </div>
    </div>

  </div>
</form>
