.responsive{
 background: #018881 !important;
}

.card{
  border: none !important;
}

.routerLink{
  text-decoration: none !important;
  border: none !important;
}

.routerLink .card-body{
  /* background: #033d64 !important; */
  color: #033d64 !important;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: none !important;
}

.routerLink i{
  font-size: 25px;
  color: #033d64 !important;
  border: none !important;
}

.routerLink:hover .card-body{
  background: #027493 !important;
  box-shadow: 4px 4px 7px #d9d9d9 !important;
  transition: ease all .4s;
  color: white !important;

}
.routerLink:hover i{
  transition: ease all .4s;
  color: white !important;
}

.active .card-body{
  background: #018881 !important;
  box-shadow: 4px 4px 7px #d9d9d9 !important;
  color: white !important;
  border: none !important;
}

.active i{
  color: #fff !important;
  border: none !important;
}

.responsive .navbar-toggler i{
  color: #fff !important;
  font-size: 34px !important;
}

#navbarMain  .active{
  color:#fff !important;
  padding: 5px !important;
  border-bottom: none !important;
  background: #017973 !important;
  border-radius: 3px;
}


@media (max-width: 740px) {
  .desktop{
    display: none !important;
  }
}

@media (max-width: 740px) {
  .routerOuletContent{
    box-shadow: none !important;
    border: none !important;
    background: #01888100 !important;
    border-radius: 0px !important;
  }
  .responsive{
    display: block !important;
    width: 100% !important;
  }
}

