<div class="container mt-0 rounded px-3 pb-4">
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0 ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="afiliaciones" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fa-person-breastfeeding  text-white py-2"></i>
              Afiliaciones
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Afiliaciones</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="auditoriaM" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-hand-holding-medical text-white py-2"></i>
              Auditoría Médica
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Auditoria Medica</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="farmacia" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-house-medical-flag text-white py-2"></i>
              Farmacia
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Farmacia</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="turnero" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-list-ol text-white py-2"></i>
              Turnero
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Turnero</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="prestaciones" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-receipt text-white py-2"></i>
              Prestaciones Médicas
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Prestaciones Médicas</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="soporteT" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-gears text-white py-2"></i>
              Soporte Técnico
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Soporte Técnico</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid border bg-light rounded shadow-sm mt-0 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
