<div class="container mt-3 rounded p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-3 mb-4 mt-4">
      <div class="p-2">
        <div class="card">
          <div class="card-body p-0 text-center">
            <i class="card-img-top fa-solid fa-person-breastfeeding bg-gradient bg-primary text-white py-3"
              style="font-size: 60px;"></i>
            <h4 class="card-title m-0 py-2 fw-bold">Afiliaciones</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mb-4 mt-4">
      <div class="p-2">
        <div class="card">
          <div class="card-body p-0 text-center">
            <i class="card-img-top fa-solid fas fa-hand-holding-medical bg-gradient bg-success text-white py-3"
              style="font-size: 60px;"></i>
            <h4 class="card-title m-0 py-2 fw-bold">Auditoria Medica</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mb-4 mt-4">
      <div class="p-2">
        <div class="card">
          <div class="card-body p-0 text-center">
            <i class="card-img-top fa-solid fas fa-house-medical-flag bg-gradient bg-danger text-white py-3"
              style="font-size: 60px;"></i>
            <h4 class="card-title m-0 py-2 fw-bold">Farmacia</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mb-4 mt-4">
      <div class="p-2">
        <div class="card">
          <div class="card-body p-0 text-center">
            <i class="card-img-top fa-solid fas fa-list-ol bg-gradient bg-success text-white py-3"
              style="font-size: 60px;"></i>
            <h4 class="card-title m-0 py-2 fw-bold">Turnero</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mb-4 mt-4">
      <div class="p-2">
        <div class="card">
          <div class="card-body p-0 text-center">
            <i class="card-img-top fa-solid fas fa-receipt bg-gradient bg-success text-white py-3"
              style="font-size: 60px;"></i>
            <h4 class="card-title m-0 py-2 fw-bold">Prestaciones Médicas</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mb-4 mt-4">
      <div class="p-2">
        <div class="card">
          <div class="card-body p-0 text-center">
            <i class="card-img-top fa-solid fas fa-gears bg-gradient bg-warning text-white py-3"
              style="font-size: 60px;"></i>
            <h4 class="card-title m-0 py-2 fw-bold">Soporte Técnico</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
