<div class="container mt-0 rounded px-3 pb-2 desktop">
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0 ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="afiliaciones" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fa-person-breastfeeding  text-white py-2"></i>
              Afiliaciones
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Afiliaciones</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="auditoriaM" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-hand-holding-medical text-white py-2"></i>
              Auditoría Médica
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Auditoria Medica</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="farmacia" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-house-medical-flag text-white py-2"></i>
              Farmacia
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Farmacia</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="turnero" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-list-ol text-white py-2"></i>
              Turnero
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Turnero</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="prestaciones" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-receipt text-white py-2"></i>
              Prestaciones Médicas
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Prestaciones Médicas</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 mb-4 p-0  ">
      <div class="py-0 px-3">
        <a class="routerLink" routerLink="soporteT" routerLinkActive="active">
          <div class="card shadow-sm">
            <div class="card-body p-0 text-center">
              <i class="card-img-top fa-solid fas fa-gears text-white py-2"></i>
              Soporte Técnico
              <!-- <h4 class="card-title m-0 py-1 fw-bold rounded-bottom">Soporte Técnico</h4> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light responsive d-none">
  <div class="container-fluid d-flex align-items-center fw-bold text-white ps-3">

    Desplegar

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
      aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <!-- <i class="fas fas fab fa-buromobelexperte"></i> -->
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <hr>
        <li class="nav-item">
          <a class="nav-link fw-bold ps-2 text-white" routerLink="afiliaciones"
            routerLinkActive="active">Afiliaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold ps-2 text-white" routerLink="auditoriaM" routerLinkActive="active">Auditoría
            Médica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold ps-2 text-white" routerLink="farmacia" routerLinkActive="active">Farmacia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold ps-2 text-white" routerLink="turnero" routerLinkActive="active">Turnero</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container border bg-light rounded shadow-sm mt-0 p-4 routerOuletContent">
  <router-outlet></router-outlet>
</div>
